target
work
sauce-ondemand*.iml
sauce-ondemand*.ipr
sauce-ondemand*.iws

httpclient.log.zip

httpclient.log

atlassian-ide-plugin.xml

lightweight.log

sauce_connect.log

sauce_connect.log.8

settings.xml

jenkins.bmml

lightweight.log.zip

sauce_connect.log.1

sauce_connect.log.2

sauce_connect.log.3

sauce_connect.log.4

sauce_connect.log.5

sauce_connect.log.6

sauce_connect.log.7

test.log
.idea/
