target
work
sauce-ondemand*.iml
sauce-ondemand*.ipr
sauce-ondemand*.iws
src/test/sauce-ondemand*.hpi

httpclient.log.zip

httpclient.log

lightweight.log*

settings.xml

jenkins.bmml

sauce_connect.log.*

test.log
.idea/

src/main/java/hudson/plugins/sauce_ondemand/BuildUtils.java
