language: java
sudo: required
dist: trusty
cache:
  directories:
  - $HOME/.m2/repository
jdk:
- oraclejdk8
- openjdk8
before_install:
- pip install --user codecov
after_success:
- $HOME/.local/bin/codecov
- chmod +x .utility/push-to-jenkins-repo.sh
- .utility/push-to-jenkins-repo.sh
env:
  global:
    secure: E7Dvn4cD6HHDWAPBmgr0m5L3+Q7SQ7iC85HjhjNEZmdfGyeY01G7hOzOnwUPan/qT2J1QMvj4p2hrnfMH4Lf2eNE71aut0RbwHrSl33SdMaFF2wdzyfE5mzR1DFJ5cYqnE1RbkP1L0VL2XxNcDn2tcIbeeFzetFKfElS3M3EnbBmi14xmYIA5VGELRHkns7kP6n9yZ3evWLKzS6qH5/IRY67lGLJCFCixWb86oj/qtXTDfejobWJy0ddMl4mmJCgmvwXae6qLOlTAUSIzF9qKkAP4w4X9aucsz7GlLAbPX27M8JNzy6E4iZ977vIUu4Et+brabVUvTaLHnfCJzL4660MObPdDHz9NQX4dYXHCkPg+aDNMs8ft6MPpRmrG06hsn61USHU7LsHpV2C/pq8oxQvm28OnRZtdEYP8tQzAFO5oJ1S3WZfLTT2dOv3Lxkn+5q2y4i1WUigv4dpGwiwoeKerwuE4ryB0232n2vwMnm5Z1kY5xr/fWJGo+fUl8il9eS6evhvr62xnpHxnaa0jutKhNboxuOb7h4nEIIzx1sRRkjTFuZy7d/iOIN2taJV5s/FKjjRZo84h3mZxfrk2Ao2skIp2/ginHc6G2LA1gmsVeIlqP5FAKXtH4ml1CJDCN4qZqmE0hTxAe/4kicDDZG0TfWEzx5p1SFBBOjTV9w=
